.header{
    background-color:#37517e;
}

.recuerda{
    font-weight: bold;
    color: red;
}

.info{
    font-weight: bold;
    color: #37517e;
}


.info-2{
    font-weight: bold;
    color: #37517e;
}

#logo-slogan{
    color: white;
    font-weight: bold;
  
  }

  .color-oro{
    color: #efb810;
    font-weight: bold;
  }